{% extends 'index.html' %}

{% block imagecell %} cell {% endblock imagecell %}

{% block content %}
    

    
    <h2>{% block heading%}Study these images{% endblock %}</h2>
   
    <div class="orbit" role="region" data-orbit data-auto-play="false">
        <div class="orbit-wrapper">
            
            <ul class="orbit-container">
                
                {% for painting in stack.all %}
                
                <li class="orbit-slide is-active">
                    <div class="grid-x grid-margin-x" id="slide">
                        <div class="cell large-auto">
                            <img src="{{ painting.image_url }}" alt="" class="orbit-image" id="learn-img">
                        </div>
                        <div class="{% block info %}{% endblock %} cell large-auto" id="artist-info">
                            <h3>{{ painting.artist.name }}</h3>
                            <p>{{ painting.title }}</p> 
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% block nav %}
        <nav>
            <ul class="pagination orbit-controls orbit-bullets grid-x" id="study-nav">
                <li class="pagination-previous orbit-previous"><a href="#">Previous</a></li>
                <button class="is-active" data-slide="0"></button>
                <button data-slide="1"></button>
                <button data-slide="2"></button>
                <button data-slide="3"></button>
                <button data-slide="4"></button>
                <li class="pagination-next orbit-next"><a href="#">Next</a></li>
            </ul>
        </nav>
    </div>
    <form action="test" method="POST">
        {% csrf_token %}
        <button class="button form-button" name="stack" value="{{ cardstack_id }}">Done</button>
    </form>
        {% endblock %}
{% endblock %}
        