{% extends 'base.html' %}

{% block content %}
<div class="orbit" data-orbit data-auto-play="false"
    {% block keyboard %} {% endblock %}>
    <div class="orbit-wrapper grid-container grid-x grid-padding-x" id="orbitwrap">
        
        {% block carousel %}

        <ul class="orbit-container cell large-8 ">
            {% for painting in stack.all %}
            <li class="orbit-slide {% if forloop.first %} is-active {% endif %}"
                id="{{ painting.artist.id }}">
                <img src="{{ painting.image_url }}" class="orbit-image learn-img">
                <div class="artist-info">
                    <h3>{{ painting.artist.name }}</h3>
                    <p>{{ painting.title }}</p> 
                </div>
            </li>
            {% endfor %}                
        </ul>
        
        {% endblock %}

        <div class="cell large-4 grid-y">
            <h1>identipaint</h1>
            
            <h2>{% block heading%}Study these images{% endblock %}</h2>
            
            {% block test_messages %}   {% endblock %}

            {% block select_page %}
            <div id="artist-info" {% block info %}  {% endblock %}></div>
            {% endblock %}
            
            {% block nav %}

            <nav id="study-nav">
                <ul class="pagination orbit-controls orbit-bullets grid-x" >
                    <li class="pagination-previous orbit-previous"><a href="#">Previous</a></li>
                    <button class="is-active" data-slide="0"></button>
                    <button data-slide="1"></button>
                    <button data-slide="2"></button>
                    <button data-slide="3"></button>
                    <button data-slide="4"></button>
                    <li class="pagination-next orbit-next"><a href="#">Next</a></li>
                </ul>
            </nav>

            <form action="test" method="POST">
                {% csrf_token %}
                <button class="button form-button" name="stack" value="{{ cardstack_id }}">Done</button>
            </form>
            {% endblock %}
        </div>

    </div>
</div>
{% endblock %}