{% extends 'learn.html' %}

{% block carousel %} 
<div class="cell large-8" id="select-page-p">
    <p class="h1" >{{ text }}</p>
</div>

{% endblock %}

{% block heading%}
<h2>What movement would you like to study?</h2>
{% endblock %}

{% block select_page %}
{% endblock %}

{% block nav %}
<form action="learn" method="POST" class="input-group" id="select">
    {% csrf_token %}
    <select name="movement" class="input-group-field">
        <option value="romanticism">Romanticism</option>
        <option value="dada">Dada</option>
        <option value="impressionism">Impressionism</option>
    </select>
    <button type="submit" class="input-group-button button">Go</button>
</form>
{% endblock %}