body {
    overflow: hidden;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 0.12em;
}

main {
    display: grid;
    place-items: center;
}

.form-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* prevent foundation from placing controls in center of image */
.orbit-previous,
.orbit-next {
    position: static;
    transform: none;
}

#study-nav {
    margin-top: auto;
}

#study-nav > ul {
    align-items: center;
}

#test-answer {
    margin-top: 1em;
}

.artist-info {
    display: none;
    /* transition-property: opacity; */
    /* transition-duration: 1s; */
}

.hide-info {
    opacity: 0;
}

/* very important! do not alter max-height from vh uom */
.learn-img {
    max-height: calc(100vh - 20px);
    object-fit: contain;
}

#slide {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.correct,
.wrong {
    font-weight: bold;
    position: absolute;
    top: 0;
}

.correct {
    color: #ffffff;
}

.wrong {
    color: #fbcdcd;
}

#test_messages {
    position: relative;
    height: 50px;
}
/* 
#orbitframe {
    padding: 10px;
    height: 100vh;
} */

#orbitwrap {
    padding: 10px;
    height: 100vh;
}
/* 
ul {
    max-height: 100%;
} */

#artist-info {
    margin: auto 0;
}
