body {
    overflow: hidden;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 0.12em;
}

main {
    display: grid;
    place-items: center;
}

.form-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

